<div class="navbar-isa">

  <div class="navbar-presentation">
    <% link_to "/index.html", class: "navbar-a" do %>
      <%= image_tag "favicon.png", class: "navbar-logo" %>
      <div class="navbar-left-content">
        <h1>Docteur Isabelle VIELPEAU</h1>
        <p>Chirurgie réfractive à Caen</p>
      </div>
    <% end %>
  </div>

   <div class="div-link-navbar">
      <ul class="navbar-right-link">
         <li><%= link_to "Accueil", "index" %></li>
         <li><%= link_to "Informations", "contact" %></li>
         <li><%= link_to "Le Docteur VIELPEAU", "docteur-vielpeau" %></li>
         <li><%= link_to "Matériel à la pointe", "materiel" %></li>
         <li><%= link_to "Foire aux questions", "faq" %></li>
      </ul>
   </div>

   <!-- DROPDOWN XS -->
   <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li><%= link_to "Accueil", "index" %></li>
         <li><%= link_to "Informations", "contact" %></li>
         <li><%= link_to "Le Docteur VIELPEAU", "docteur-vielpeau" %></li>
         <li><%= link_to "Matériel à la pointe", "materiel" %></li>
         <li><%= link_to "Foire aux questions", "faq" %></li>
      </ul>
    </div>
  </div>


</div>
