<div class="navbar-isa">

  <div class="navbar-presentation">
    <% link_to "/index.html", class: "navbar-a" do %>
      <%= image_tag "favicon.png", class: "navbar-logo" %>
      <div class="navbar-left-content">
        <h1>Docteur Isabelle VIELPEAU</h1>
        <p>Chirurgie réfractive à Caen</p>
      </div>
    <% end %>
  </div>

   <div class="div-link-navbar">
      <ul class="navbar-right-link">
         <li><%= link_to "Accueil", "index" %></li>
         <li><%= link_to "Visiter et localiser le cabinet", "contact" %></li>
         <li><%= link_to "Galerie photos", "photos" %></li>
         <li><%= link_to "Le Docteur VIELPEAU", "docteur-vielpeau" %></li>
         <li><%= link_to "Matériel à la pointe", "materiel" %></li>
         <li><%= link_to "Foire aux questions", "faq" %></li>
      </ul>
   </div>

    <div class="dropdown-isa visible-xs visible-sm">
    <i onclick="myFunction()" class="dropbtn-isa fa fa-bars"></i>
      <div id="myDropdown-isa" class="dropdown-content-isa">
        <%= link_to "Accueil", "index" %>
        <%= link_to "Visiter et localiser le cabinet", "contact" %>
        <%= link_to "Galerie photos", "photos" %>
        <%= link_to "Le Docteur VIELPEAU", "docteur-vielpeau" %>
        <%= link_to "Matériel à la pointe", "materiel" %>
        <%= link_to "Foire aux questions", "faq" %>
      </div>
    </div>

  </div>

</div>
