<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Isabelle VIELPEAU - Centre Ophtalmologique à Caen - Chirurgie réfractive</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Le centre d'ophtalmologie d'Isabelle VIELPEAU est situé à St Contest proche de Caen, ce centre est orienté vers la chirurgie réfractive et il est à la pointe de l'innovation en terme de matériels. Le chirurgien Isabelle VIELPEAU sera vous conseiller pour réaliser la méthode de chirurgie réfractive idéale à votre besoin. Grâce à la chirurgie réfractive vous serez enfin en mesure d'oublier vos lunettes."/>
    <meta name="keywords" content="centre ophtalmologique, cabinet ophtalmologie, chirurgie refractive, myopie, astigmatisme, hypermetropie, presbytie, cataracte, refractive, caen, st-contest, site, isabelle vielpeau" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>

    <!--[if lte IE 8]><div class="alert-ie8">Vous utilisez un navigateur trop ancien, merci de le mettre &agrave; jour afin de pouvoir naviguer sur le site.</div><![endif]-->

    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>

  </body>
</html>
