<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <html lang="fr">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= data.title.description %>" />
    <meta name="keywords" content="<%= data.title.keywords %>" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>

    <!--[if lte IE 8]><div class="alert-ie8">Vous utilisez un navigateur trop ancien, merci de le mettre &agrave; jour afin de pouvoir naviguer sur le site.</div><![endif]-->

    <%= partial "layouts/navbar" %>
    <%= yield %>
    <%= partial "layouts/footer" %>


    <!-- Bouton Doctolib -->
    <a href="https://www.doctolib.fr/ophtalmologue/saint-contest/isabelle-vielpeau?utm_campaign=website-button&amp;utm_source=isabelle-vielpeau-website-button&amp;utm_medium=referral&amp;utm_content=option-5&amp;utm_term=isabelle-vielpeau" style="display:block;text-align:center;background-color:#0596DE;color:#ffffff;font-size:14px;overflow:hidden;width:257px;height:40px;border-bottom-right-radius:none;border-bottom-left-radius:none;position:fixed;bottom:0;right:5px;z-index:1000;border-top-left-radius:4px;border-top-right-radius:4px;line-height:40px" target="_blank" data-reactroot=""><span style="font-size:13px">Prendre rendez-vous en ligne</span><img style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto" src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/></a>


    <!-- PHOTOSWIPE -->

    <link rel="stylesheet" href="../dist/photoswipe.css">

    <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
         In the folder of skin CSS file there are also:
         - .png and .svg icons sprite,
         - preloader.gif (for browsers that do not support CSS animations) -->
    <link rel="stylesheet" href="../dist/default-skin/default-skin.css">
    <script src="../dist/photoswipe.min.js"></script>
    <script src="../dist/photoswipe-ui-default.min.js"></script>

    <!-- PHOTOSWIPE END -->

    <%= javascript_include_tag "application" %>
    <%= google_analytics_tag %>
  </body>
</html>
