<div class="container text-center type-chirurgie-page">
  <div class="separateur-orange"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-lg-offset-1">
      <% link_to "chirurgie/myopie" do %>
        <%= image_tag "image-home-1.jpg" %>
        <p>Myopie</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <% link_to "chirurgie/presbytie" do %>
        <%= image_tag "image-home-2.jpg" %>
        <p>Presbytie</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <% link_to "chirurgie/hypermetropie" do %>
        <%= image_tag "image-home-3.jpg" %>
        <p>Hypermetropie</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <% link_to "chirurgie/astigmatisme" do %>
        <%= image_tag "image-home-4.jpeg" %>
        <p>Astigmatisme</p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <% link_to "chirurgie/cataracte" do %>
        <%= image_tag "image-home-5.jpeg" %>
        <p>Cataracte</p>
      <% end %>
    </div>
  </div>
</div>
